<div class="cabecera">
  <div class="headerLeft">
    <img
      class="image"
      src="https://cdn-icons-png.flaticon.com/512/4503/4503941.png"
      alt="logo de la app"
      [routerLink]="['/info']"
    />
    <h1>MY APP</h1>
  </div>
  <div class="button-container">
    <button class="button" [routerLink]="['/home']">HOME</button>
    <button class="button" [routerLink]="['/about-me']">ABOUT ME</button>
  </div>

  <div class="headerRight">
    <img
      class="image1"
      src="https://cdn-icons-png.flaticon.com/512/44/44948.png"
      alt="imagen de usuario"
      [routerLink]="['/login']"
    />
    <h2>USER NAME</h2>
  </div>
</div>
