<html>
  <body>
    <div class="wrapper">
      <div class="header-wrapper">
        <app-header></app-header>
      </div>
      <div class="cabecera1">
        <h1 class="title">Color Select</h1>
      </div>

      <div class="center-container">
        <left-side-bar class="left"></left-side-bar>
        <center-bar class="center"></center-bar>
      </div>

      <div class="footer-wrapper">
        <app-footer></app-footer>
      </div>
    </div>
  </body>
</html>
<!-- <router-outlet></router-outlet> -->
