<html>
  <body>
    <div class="wrapper">
      <div class="header-wrapper">
        <app-header></app-header>
      </div>
      <div class="cabecera1">
        <button [routerLink]="['/color-select']" class="color-select">
          Color Select
        </button>
        <button [routerLink]="['/pixel-art']" class="pixel-art">
          Pixel Art
        </button>
      </div>
      <div class="center-container">
        <router-outlet></router-outlet>
      </div>
      <div class="footer-wrapper">
        <app-footer></app-footer>
      </div>
    </div>
  </body>
</html>
